* {
  padding: 0;
  margin: 0;
}

.fnav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.fnav input {
  width: 330px;
  height: 30px;
  border-radius: 5px;
  text-align: start;
  border: 1px solid gray;
  margin-top: 20px;
  color: grey;
}

.fnav p {
  margin-top: 20px;
}

.call {
  font-size: larger;
  color: rgb(6, 6, 54);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.snav {
  display: flex;
  justify-content: center;
  justify-content: space-around; 
  background-color: rgb(246, 246, 247);
  margin: 2px;
}

.content-nav {
  display: flex;
  justify-content: center;
  justify-content: space-around; 
  padding: 11px; 
  background-color: rgb(243, 243, 252);
  font-weight: 700; 
  gap: 40px;
  list-style-type: none;
}

.snav .content-nav li:hover {
  border-bottom: 2px solid rgb(13, 13, 46);
  color: rgb(13, 13, 46); 
  cursor: pointer;
}

.snav img {
  width: 5%;
  height: 8%;
  border-radius:5px ;
  margin-top: 10px;
  gap: 3px;
}

.section-details.card {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 250px;
  text-align: left;
  display: none; /* Hide by default */
}

.snav .content-nav li:hover + .section-details.card {
  display: block; /* Display on hover */
}

.section-details.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section-details.card li {
  margin-bottom: 10px;
}

.section-details.card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 200px;
  text-align: left;
  display: none; /* Hide by default */
}

.navbar .content-nav li:hover + .card {
  display: block; /* Display on hover */
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin-bottom: 5px;
}
